[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
load-dotenv = "*"
whisper = "*"
openai-whisper = "*"
"pyannote.audio" = "*"
torch = "*"
torchaudio = "*"
speechbrain = "*"

[dev-packages]

[requires]
python_version = "3.12"
